img {
  position: relative;
  z-index: 1;
  /* max-width: 100%; */
  /* height: auto; */
}

#imageGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin-top: -17px;
}
@media (min-width: 1300px){
    #imageGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px; 
  }
}
.grid-item {
  /* min-height: 300px; */
  text-align: center;
  /* border: 1px solid grey; */
  position: relative;
  transition: all 0.3s ease;
  color: white;
  transition: all 500ms ease-in;
}

.image-container {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
  overflow: hidden;
  transition: all 500ms ease-in;
  background-color: rgba(255, 0, 0, 0.1);
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: all 500ms ease-in;
}

/* Hide the file input */
.file-input {
  display: none;
}

/* Style the label to look like a button */
.upload-label, .clear-all-btn {
  background-color: rgba(255, 255, 255, 0.7);
  display: inline-block;
  padding: 0px;
  min-width: 100%;
  font: clamp(.6rem, .8vw, 1.2rem)/.1rem sans-serif;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: transparent;
  background-image: none !important;
  outline: none;
  border: 0;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  text-shadow: none;
  box-shadow: none;
  transition: all 0.12s linear 0s !important;
}
.upload-label{
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ddd;
}
.clear-all-btn{
  position: relative;
  /* min-width: 100%; */
  margin-top: -25px;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  font-size: 12px;
  color: #bbb;
}
.upload-label.image-has-been-uploaded{
  left: -48%;
  top: 50%;
  transform: rotate(-90deg);
}

.uploaded-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 100ms ease-in;
}




/* Full-screen styles */
.grid-item.full-screen {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
  display: flex;
  justify-content: center; 
  align-items: center; 
  transition: all 100ms ease-in;
}

/* .grid-item.full-screen .image-container {
  max-width: 1400px;
  object-fit: contain;
  transition: all 100ms ease-in;
} */

.grid-item.full-screen img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: all 100ms ease-in;
}

@media (min-width: 1080px){
  .grid-item.full-screen img {
    object-fit: none;
  }
}
