<!-- exact ratio -->

img {
  position: relative;
  z-index: 1;
  /* max-width: 100%; */
  /* height: auto; */
}

#imageGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
@media (min-width: 1100px){
    #imageGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px; 
  }
}
.grid-item {
  /* min-height: 300px; */
  text-align: center;
  /* border: 1px solid grey; */
  position: relative;
  transition: all 0.3s ease;
  color: white;
}

.image-container {
  width: 100%;
  max-width: 300px;
  padding-bottom: 100%;
  position: relative;
  overflow: hidden;
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (min-width: 930px){
  .image-container {
    width: 100%;
    max-width: 600px;
    position: relative;
    overflow: hidden;
  }

  .image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  } 
}

/* Hide the file input */
.file-input {
  display: none;
}

/* Style the label to look like a button */
.upload-label {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.7);
  display: inline-block;
  padding: 0px;
  min-width: 100%;
  font: .9rem/.1rem sans-serif;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: transparent;
  color: #ccc;
  background-image: none !important;
  outline: none;
  border: 0;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  text-shadow: none;
  box-shadow: none;
  transition: all 0.12s linear 0s !important;
}


.uploaded-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* Full-screen styles */
.grid-item.full-screen {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px; /* Optional padding for aesthetic purposes */
}

.grid-item.full-screen img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Keep aspect ratio and fit the entire image */
  transition: all 500ms ease-in;
}
